<div id="conteudo">
  <h1>Novo anuncio</h1>

  <% form_for(@announcement) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :message, "Mensagem" %><br />
      <%= f.text_area :message %>
    </p>
    <p>
      <%= f.label :starts_at, "Inicio em" %><br />
      <%= f.datetime_select :starts_at %>
    </p>
    <p>
      <%= f.label :ends_at, "Termino em" %><br />
      <%= f.datetime_select :ends_at %>
    </p>
    <p>
      <%= f.submit 'Criar' %>
    </p>
  <% end %>

  <%= link_to 'Voltar', announcements_path %>
</div>