<div id="conteudo">
<table width="100%" border="1">
<tr>
   <td rowspan="2">
     <div id="img"></div>
   </td>
   <td width="15%">
     <p align="center"><font color="blue" size="3">Acesse o Pontua</font></p>
    <center>
       <% form_tag session_path do -%>
<p>        <b><label for="login">Login</label></b>
        <%= text_field_tag 'login','',:size => 10 %><br/>
</p>
<p>
        <b><label for="password">Senha</label></b>
        <%= password_field_tag 'password','',:size => 10 %><br/>
</p>
<!--        <%= check_box_tag 'Memorizar' %>
        <font size="2"><b>Memorizar usuário</b></font><br/> !-->
        <%= submit_tag 'Entrar' %>
       <% end -%>
    </center>
   </td>
</tr>
 <tr>
  <td colspan="2" align="center">
       <font size="2"><b>Ainda não possui senha?</b></font><br/>
       <%= link_to 'Clique aqui', signup_path %>
  </td>
 </tr>

 </table>
</div>