<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
display: none;
}
</style>
<br/>
<h2 align="center">   Sistema de Pontuação de Professores - Secretaria de Educação</h2>
<br/>
<div class="botao">
  <div id ="caixa">
    <br/>
    <table width="100%">
      <tr>
        <% form_for @search do |f| %>
          <tr>
            <td align="right">
              <%= f.label :sede_id_equals, "Unidade / Sede" %>
              <%= f.collection_select :sede_id_equals, Unidade.all, :id, :nome, :include_blank => true%>
            </td>

            <td align="right">
              <%= f.label :funcao_equals, "Função" %>
              <%= f.select :funcao_equals, options_for_select(CARGO), :include_blank => true%>
            </td>
            <td align="center" colspan="2">
              <%= f.submit "Buscar" %>
            </td>
          </tr>
        <% end %>
      </tr>
    </table>
  </div>
</div>
<br/>
<%if !(params[:search]).blank? %>
  <h1 align = "center" id="teste">RELATORIO DE PONTUACAO - <%= params[:search][:funcao_equals] %> </h1>
  <h5 style="color:red" align="center">Obs.: Listagem sujeita a alterações </h5>
<%end%>
<br/>
<table border ="1" width="90%" align="center" class="tabelas" >
  <tr>
    <th bgcolor="#cccccc"  width = "5%" >Clas.</th>
    <center><th bgcolor="#cccccc" width = "4%">Matrícula</th></center>
    <th bgcolor="#cccccc" width = "38%">Nome</th>
    <th bgcolor="#cccccc" width = "25%">Sede</th>
    <th bgcolor="#cccccc" width = "5%">Pontuação</th>
    <th bgcolor="#cccccc"  width = "20%">Função</th>


  </tr>
<%$contador = 1%>
<%if @professor_rel_geral.present? %>
  <% for professor in @professor_rel_geral %>
    <tr>
      <td width = "5%" align = "center"><%= $contador%></td>
      <td width = "4%"><center><%=h professor.matricula %></center></td>
      <td width = "38%"><center><%=h professor.nome %></center></td>
      <td width = "25%"><center><%=h Unidade.find(professor.sede_id).nome%></center></td>
          <% if professor.pontuacao_final.nil? then %>
          <td width="5%"><%=h 0.000 %></td>
      <%else%>
          <td width = "5%"><center><%=h format("%.3f",professor.pontuacao_final)%></center></td>
      <%end%>
      <td width = "20%"><center><%=h professor.funcao%></center></td>
   <tr/>
       <% $contador= $contador+1 %>
  <% end %>
<%end%>
</table>
<br/>
<br/>
<div class="botao">
<table width="100%">
    <tr>      
      <td align="right"><input type="Button" Value="Imprimir" onclick="Imprimir()"></td>
    </tr>
  </table>
</div>
<br />
<br/>

