<br>
<div id="conteudo">
  <br>
    <fieldset>
   <legend align="center"><font size=10>Títulos</font></legend>
<br>

<% form_for(@titulacao) do |f| %>
  <%= f.error_messages %>

   <%= f.label :descricao, 'Descrição : ' %>
   <%= f.text_field :descricao, :size => 43 %><br/>

   <%= f.label :tipo, 'Tipo de Título' %>
   <%= f.select :tipo, TIPO_TITULO, :include_blank => ''%><br/>

   <%= f.label :referencia, 'Referência' %>
   <%= f.select :referencia, REFERENCIA, :include_blank => ''%><br/>

   <%= f.label :valor, 'Valor de multiplicação do Título: ' %>
   <%= f.text_field :valor, :size => 5 %><br/>

  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>

</fieldset>


 <div class="botao3d"><%= link_to 'Voltar', titulacaos_path %> </div>
</div>