<table>
      <% @check_professor.each do |check_professor| %>
          <tr>
            <td>
              Matricula
            </td>
            <td>
              Soma dos titulos
            </td>
            <td>
              Soma Trabalhados
            </td>
            <td>
              Total Somado
            </td>
            <td>
              Total Registrado
            </td>
            <td>
              Status
            </td>
          </tr>
          <tr>
            <td>
              <%= check_professor.matricula %>
            </td>
            <td>
             <%= total_titulacao = TituloProfessor.check_titulos($data,check_professor.id).total_titulacao %>
            </td>
            <td>
             <%= total_trabalhado = TituloProfessor.check_titulos($data,check_professor.id).total_trabalhado %>
            </td>
            <td>
             <%= total = total_trabalhado.to_d + total_titulacao.to_d %>
            </td>
            <td>
              <%= pontuacao_final = (TituloProfessor.check_titulos($data,check_professor.id).pontuacao_final).to_d %>
            </td>
            <% if total == pontuacao_final %>
              <td>
                OK
              </td>
            <%else%>
              <td>
                Problemas
              </td>
            <%end%>
          </tr>
      <%end%>
</table>

