<div id="conteudo">
  <div class="botao">
    <table width="100%">
      <tr>
          <% form_tag professors_path, :method => 'get' do %>
           <p>
            <tr>
                <td align="right"> Nome do Professor:
                 <%= text_field_tag :search, params[:search] %>
                 <%= submit_tag "Filtrar", :name => nil %></td>
              </tr>
           </p>
          <% end %>

      </tr>
    </table>
  </div>

<div class="relatorios">
<div class="botao">
   <input type="Button" Value="Imprimir" onclick="Imprimir()">
   <br/>
  <br/>
</div>
  <fieldset>
    <legend><font size=5>Professor</font></legend>
   <table border ="1" cellpadding="5" cellspacing="1" width="100%" frame="box" rules="all" >
      <tr>
        <td colspan="14">
          <h1 align="center">Relatório de Professores</h1>
        </td>
      </tr>
    <tr>
      <th colspan="3" bgcolor="#cccccc">Nome</th>
      <th colspan="1" bgcolor="#cccccc">Matrícula</th>
      <th colspan="2" bgcolor="#cccccc">Data Ingresso</th>
      <th colspan="1" bgcolor="#cccccc">Sede</th>
      <th colspan="3" bgcolor="#cccccc">Função</th>
      <th colspan="4" bgcolor="#cccccc"></th>


    </tr>

<% for professor in @to_print %>
  <tr>
    <td colspan="3"><center><%=h professor.nome.upcase %></center></td>
    <td colspan="1"><center><%=h professor.matricula %></center></td>
    <%if professor.dt_ingresso.nil? then %>
      <td colspan="2"><center><%=h professor.dt_ingresso %></center></td>
    <%else%>
      <td colspan="2"><center><%=h professor.dt_ingresso.strftime("%d/%m/%y") %></center></td>
    <%end%>
    <td colspan="1"><center><%=h professor.unidade.nome %></center></td>
    <td colspan="3"><center><%=h professor.funcao %></center></td>
  </tr>
  <% count = count + 1 %>
  <% if count == 10 %>
<% end %>


    </table>

  </fieldset>
 <br />
   <b><%=  @to_print.count %> registros encontrados nesta pagina</b>


  <div class="botao">
    <br/>
    <input type="Button" Value="Imprimir" onclick="Imprimir()">
  </div>
  <br/>
  <br/>
  </div>
</div>
