<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
display: none;
}
</style>

<br/>

<table border ="1" cellpadding="1" cellspacing="1" width="100%" >
  <tr>
    <center><th bgcolor="#cccccc">Matrícula</th></center>
    <th bgcolor="#cccccc">Nome</th>
    <th bgcolor="#cccccc">Sede</th>
    <th bgcolor="#cccccc">Função</th>
    <th bgcolor="#cccccc">No. RG </th>
    <th bgcolor="#cccccc">No. CPF</th>
    <th bgcolor="#cccccc">Pontuação Total</th>
    <th bgcolor="#cccccc">Jornada</th>
    <th bgcolor="#cccccc">Data Ingresso</th>
  </tr>

<% for professor in @professors %>
  <tr>
    <p><td><center><%=h professor.matricula %></center></td>
    <td><center><%=h professor.nome %></center></td>
    <td><center><%=h Unidade.find(professor.sede_id).nome%></center></td>
    <td><center><%=h professor.funcao%></center></td>
    <td><center><%=h professor.RG%></center></td>
    <td><center><%=h professor.CPF%></center></td>
    <td><center><%=h format("%.3f",professor.pontuacao_final)%></center></td>
    <td><center><%=h professor.jornada_sem%></center></td>
        <% if professor.dt_ingresso.nil? then %>
             <td><center><%=h professor.dt_ingresso %></center></td>
        <%else%>
             <td><center><%=h professor.dt_ingresso.strftime("%d/%m/%y") %></center></td>
    <%end%>

 <tr/>


 
<% end %>

</table>

<div id="tabela">
<table border ="1" cellpadding="1" cellspacing="1" width="100%" >
<%  @tp = TituloProfessor.find_by_sql("SELECT * FROM titulo_professors tp inner join titulacaos t on tp.titulo_id=t.id where tp.professor_id=" + $professor + " and t.tipo = 'PERMANENTE'")%>
<%  @tp1 = TituloProfessor.find_by_sql("SELECT * FROM titulo_professors tp inner join titulacaos t on tp.titulo_id=t.id where tp.professor_id=" + $professor + " and t.tipo = 'ANUAL'")%>
<%  @tp5 = TituloProfessor.find_by_sql("SELECT * FROM titulo_professors tp inner join titulacaos t on tp.titulo_id=t.id where tp.professor_id=" + $professor + " and t.tipo = '5 ANOS'")%>
<% $contador1=0 %><% $contador2=0 %><% $contador3=0 %><% $contador= 0 %>
   <table width="93.5%" frame="box" rules="all">
     <tr>
       <th bgcolor="#cccccc" width="35%">Graduação</th>
       <th bgcolor="#cccccc" width="28%">Titulo</th>
       <th bgcolor="#cccccc" width="11%">Data Conclusão</th>
     </tr>
    <%for tp in @tp%>
    <tr>
      <td><%=h Titulacao.find_by_id(tp.titulo_id).descricao %></td>
      <td><%=h tp.obs%></td>
      <td><center><%=h tp.dt_titulo.strftime("%d/%m/%y")%></center></td>
     <tr/>
    <% $contador2= $contador2+1 %>
    <%end%>

    <%for tp5 in @tp5%>
    <tr>
      <td><%=h Titulacao.find_by_id(tp5.titulo_id).descricao %></td>
      <td><%=h tp5.obs%></td>
      <td><center><%=h tp5.dt_titulo.strftime("%d/%m/%y")%></center></td>
     <tr/>
      <% $contador2= $contador2+1 %>
    <%end%>


    <%for tp1 in @tp1%>
    <tr>
      <td><%=h Titulacao.find_by_id(tp1.titulo_id).descricao %></td>
      <td><%=h tp1.obs%></td>
      <td><center><%=h tp1.dt_titulo.strftime("%d/%m/%y")%></center></td>
     <tr/>
     <% $contador3= $contador3+1 %>
    <%end%>


  </table>
<% $contador= $contador1+$contador2+$contador3 %>


<font color="green">Este professor possue <%=$contador%> titulo(s) cadastrado(s)</font>
</table>
</div>

<div class="botao">
  <table width="100%">
    <tr>
      <td>
      | <%= link_to 'Dados Pessoais', professor %>
      | <%= link_to_remote('Pontuação', :url => { :action => "relatorio_indiv"}) %> |</td>
      
      <td align="right"><input type="Button" Value="Imprimir" onclick="Imprimir()"></td>

    </tr>
  </table>
</div>
    
<br />


<br/>


