<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
display: none;
}
</style>
<br/>
<div id ="conteudo">
  <div class="relatorios">
<table>
  <tr>
  <% for professor in @professors %>
    <%@verify = @professorstitulo = TituloProfessor.find_by_sql("SELECT * from titulo_professors tp inner join titulacaos t on t.id=tp.titulo_id where tp.professor_id = " + professor.id.to_s + " and tp.titulo_id = " + ($titulo).to_s)%>
     <%if @verify.nil? or @verify.empty? then%>
     <%else%>
      <table border ="1" cellpadding="1" cellspacing="1" width="100%" >
    <tr>
    <center><th width="10" bgcolor="#cccccc">Matrícula</th></center>
    <th width="35%" bgcolor="#cccccc">Nome</th>
    <th width="10%" bgcolor="#cccccc">Sede</th>
    <th width="20%" bgcolor="#cccccc">Função</th>
    <th width="14%" bgcolor="#cccccc">Pontos Tempo Serviço</th>
    <th width="7%" bgcolor="#cccccc">Pontos Titulação</th>
    <th width="7%" bgcolor="#cccccc">Pontuação Total</th>
    <th width="10%" bgcolor="#cccccc">Jornada</th>
    <th width="10%" bgcolor="#cccccc">Data Ingresso</th>
   </tr>
   <tr>
     <p><td><center><%=h Professor.find(professor.id).matricula %></center></td>
    <td><center><%=h Professor.find(professor.id).nome %></center></td>
    <td><center><%=h Unidade.find(Professor.find(professor.id).sede_id).nome%></center></td>
    <td><center><%=h Professor.find(professor.id).funcao%></center></td>
    <td><center><%=h format("%.3f",Professor.find(professor.id).total_trabalhado)%></center></td>
    <td><center><%=h format("%.3f",Professor.find(professor.id).total_titulacao)%></center></td>
    <td><center><%=h format("%.3f",Professor.find(professor.id).pontuacao_final)%></center></td>
    <td><center><%=h Professor.find(professor.id).jornada_sem%></center></td>
        <% if Professor.find(professor.id).dt_ingresso.nil? then %>
             <td><center><%=h Professor.find(professor.id).dt_ingresso %></center></td>
        <%else%>
             <td><center><%=h Professor.find(professor.id).dt_ingresso.strftime("%d/%m/%y") %></center></td>
      <%end%>
    </tr>
   </table>

  <%  @tp = TituloProfessor.find_by_sql("SELECT * FROM titulo_professors tp inner join titulacaos t on tp.titulo_id=t.id where t.id = " + $titulo + " and professor_id = " + professor.id.to_s)%>
 <% $contador=0%> <%$pontos=0%>
  
    <table border="1"align="right" width="94%" >
      <tr>
        <th bgcolor="#cccccc" width="35%">Graduação</th>
        <th bgcolor="#cccccc" width="40%">Titulo</th>
        <th bgcolor="#cccccc" width="11%">Data Conclusão</th>
      </tr>
  <%for tp in @tp%>
     <tr>
       <td align="center"><%=h Titulacao.find_by_id(tp.titulo_id).descricao %></td>
       <td align="center"><%=h tp.obs%></td>
      <td align="center"><%= tp.dt_titulo.strftime("%d/%m/%y")%></td>
      <%$pontos= $pontos + tp.pontuacao_titulo%>
     </tr>
     <% $contador= $contador+1 %>
 <%end%>
 <tr>
   <td colspan="3"><font color="green">Este professor possui <%=$contador%> titulo(s) cadastrado(s) totalizando <%=$pontos%> pontos</font></td>
   </tr>
  </table>
<% end %>

<%end%>


</tr>
<div class="botao">
<table width="100%">
    <tr>
      <td align="right"><input type="Button" Value="Imprimir" onclick="Imprimir()"></td>
    </tr>
  </table>
</div>
<br/>

</table>
</div>
</div>
