<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
display: none;
}
</style>


<div id="conteudo">
  <div class="botao">
|    <%= link_to 'Voltar', remocaos_path %>  |
  </div>
  <br/>
  <fieldset>
    <h2 align="Center"><u>   PREFEITURA MUNICIPAL DE AMERICANA</u></h2>
    <h3 align="Center">   FICHA DE REMOÇÃO DE PROFESSOR</h3>
    <h5 align="center"> <font size="2"> Americana <%= Time.now.strftime("%d de %B de %Y - %H:%M ") %>horas</font></h5>
    <br/>
    <div class="botao">
      <font size=4>Matrícula: <%= text_field :professor, :professor_id, :size => 5 %>
        <%= observe_field 'professor_professor_id',
         :frequency => 0.5,
         :with => :professor_professor_id,
         :url => {:action => 'dados_professor' } %></font>
    </div>

    <div id="dados_professor"></div>
  </fieldset>
  

<div class="botao">
    <table width="100%">
    <tr>
      <td>
       <div id="conteudo">
         | <%= link_to 'Voltar', remocaos_path %> |
       </div>
      </td>
    </tr>
    <tr>
      <td align="right"><input type="Button" Value="Imprimir" onclick="Imprimir()"></td>
    </tr>
  </table>

</div>
</div>