<br/>
<br/>
<h3>Listagem de Professores com Remocao solicitada</h3>
<br/>

<table border="1" frame="box" rules="all">
  <tr>
    <th bgcolor="#cccccc">Matrícula</th>
    <th bgcolor="#cccccc">Nome</th>
    <th bgcolor="#cccccc">Função</th>
    <th bgcolor="#cccccc">Pontuacao Obtida</th>
    <th bgcolor="#cccccc">Ano Letivo</th>
  </tr>
<% @remocaos_sim = Remocao.find(:all, :conditions => ["status = 1"]) %>
<% for remocao in @remocaos_sim %>
  <tr align="center">

    <td><%= Professor.find(remocao.professor_id).matricula %> </td>
    <td><%= Professor.find(remocao.professor_id).nome %> </td>
    <td><%= truncate(Professor.find(remocao.professor_id).funcao, :length => 14, :omission => "...") %> </td>
    <td><%= Professor.find(remocao.professor_id).pontuacao_final %> </td>
    <td><%= remocao.ano_letivo %> </td>
  </tr>
  <tr>
  </tr>
<td colspan="5" align="center" bgcolor="white"><%= link_to 'Atualizar', edit_remocao_path(remocao) %></td>
<% end %>
</table>
<br />
