<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>PONTUAÇÃO DOS PROFESSORES : <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'pontuacao' %>
    <%= javascript_include_tag :all %>
    <%= javascript_include_tag :defaults %>
</head>
<body>
<style media="print">
.botao {
display: none;
}
</style>
<div class="botao">
<div id="alinha">
<p style="color: red"><%= flash[:notice] %></p>
<div id="topo">
    
    <h2 align="right">   Sistema de Pontuação de Professores - Secretaria de Educação</h2>
    <h4 align="right"> <font   color="#ff0000"> P O N T U A --  Ver.2.0       . </font></h4>
</div>
     <table width="100%">
    <%if logged_in? then%>
      <td width="55%">
          Usuário: <font size="4" color="green"><%= link_to h(current_user.login.capitalize), user_path(current_user) %> - </font>
            <% if current_user.has_role?('admin') %>
              Acesso de Administrador do Sistema
            <%else%>
              <% if current_user.has_role?('secretaria') %>
               Acesso de Secretário(a)
              <%else%>
                <% if current_user.has_role?('direcao') %>
                  Acesso de Diretor(a)
                <%else%>
                  <% if current_user.has_role?('supervisao') %>
                    Acesso de Supervisao
                  <%else%>
                    <% if current_user.has_role?('planejamento') %>
                      Acesso de Planejamento
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>
            <%end%>

      </td>

    <%else%>
      <td><%= link_to '|Entrar|', login_path %></td>
    <%end%>
    </table>

 <div class="menu-hv">
  <ul>
    <li><a>Arquivo</a>
      <ul>
        <li> <%= link_to ' Serviço de mensagens' , mensagems_path %></li>
        <li> <%= link_to ' Início' , root_path %></li>
        <li><%= link_to 'Sair', logout_path,:confirm => "Tem certeza que deseja fazer logout?" %></li>
        
      </ul>
    </li>
    <li><a>Executar</a>
      <ul>
          <li><a>Pontuação ----------></a>
            <ul>
              <li><%= link_to 'Tempo de Serviço', new_trabalhado_path%></li>
              <li><%= link_to 'Títulos',new_titulo_professor_path %></li>
              <li><%= link_to_remote('Pontuação', :url => { :action => "relato_prof", :controller => "professors"}) %></li>
           </ul>

        <%  if current_user.has_role?('admin') then%>
          <li><%= link_to_remote('Gerenciar Usuários', :url => { :action => "gen_user", :controller => 'home'}) %></li>
          <li><%= link_to('Novo Ano', iniciar_ano_path) %></li>
          <li><%= link_to('Arrumar Titulos', arrumar_titulos_path) %></li>
        <%end%>
          <li><%= link_to "Gerar Remoção", remocaos_path %></li>

        <%  if current_user.has_role?('direcao') or (current_user.has_role?('supervisao')) or (current_user.has_role?('admin'))%>
          <li><%= link_to('Consultas', consulta_path) %></li>
        <%end%>

      </ul>
    </li>



     <li><a>Cadastrar</a>
       <ul>        
         <li><%= link_to "Professores", new_professor_path %></li>
         <%if current_user.has_role?('admin') or current_user.has_role?('supervisao') or current_user.has_role?('planejamento') then%>
            <li><%= link_to "Títulos", new_titulacao_path %></li>
            <li><%= link_to "Unidades", new_unidade_path %></li>
            <li><%= link_to "Região", new_regiao_path %></li>
         <%end%>
      </ul>
     </li>
    
    <%  if current_user.has_role?('admin') or current_user.has_role?('supervisao') or current_user.has_role?('planejamento') then%>
      <li><a>Configuração</a>
        <ul>
          <li><%= link_to 'Verificar Log', logs_path %></li>
        </ul>
      </li>
<!--      <li><a>Consutas</a>
        <ul>
           <%  if current_user.has_role?('direcao') or (current_user.has_role?('supervisao')) or (current_user.has_role?('admin')) or current_user.has_role?('planejamento') %>
             <li><%= link_to 'Consultas Diversas', consulta_path %></li>

             <li><%= link_to_remote('Pontuação Professor Individual', :url => { :controller => "consulta", :action => "consulta_ppu"}) %></li>
             <li><%= link_to_remote('Pontuação por Unidade', :url => {  :controller => "consulta", :action => "consulta_pu"}) %></li>
             <li><%= link_to_remote('Titulação Professor', :url => {  :controller => "consulta", :action => "consulta_pt"}) %></li>
             <li><%= link_to_remote('Pontuacao Geral Professor', :url => { :controller => "consulta", :action => "consulta_geral"}) %></li>


           <%end%>
        </ul>
      </li>  !-->
     <%end%>
      <li><a>Relatórios</a>
        <ul>
          <li><%= link_to "Professores", professors_path %></li>
          <li><%= link_to "Títulos", titulacaos_path %></li>
          <li><%= link_to "Unidades", unidades_path %></li>
          <li><%= link_to "Região", regiaos_path %></li>
          <li><%= link_to "Professor por Titulos", relatorio_por_titulacao_path %></li>
          <li><%= link_to "Professor por Função", relatorio_por_funcao_path %></li>
          <li><%= link_to "Titulos anuais invalidados", relatorio_titulos_anuais_invalidos_path %></li>
          <li><%= link_to "Professor por Titulos (busca por descrição)", relatorio_por_descricao_titulo_path %></li>
        </ul>
      </li>

     </ul>
  </div>

</div>
</div>
    <div id="contents"><%= yield  %></div>
<div id="rodape">
  © 2009 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
</div>
</body>
</html>



