<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>PONTUAÇÃO DOS PROFESSORES : <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'pontuacao' %>
    <%= stylesheet_link_tag 'ficha' %>
    <%= stylesheet_link_tag 'menu' %>
    <%= javascript_include_tag :all %>
    <%= javascript_include_tag :defaults %>
</head>
<body>
<style media="print">
.botao {
display: none;
}
</style>
<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<div class="botao">
<div id="alinha">
<!-- HEADER -->

          <p style="color: red"><%= flash[:notice] %></p>
          <div id="topo">
            <h2 align="right">   Pontuação de Professores - SEDUC - AM</h2>
            <h4 align="right"> <font   color="#ff0000"> P O N T U A --  Ver.2.0       . </font></h4>
          </div>
          <%if logged_in? then%>
            <td width="100%" align="right">
            <font size="4" color="green"><%= link_to h(current_user.login.capitalize), user_path(current_user) %> </font>
          <%else%>
            <td><%= link_to '|Entrar|', login_path %></td>
          <%end%>


<!-- FIM HEADER -->
<!-- MENU-->
            <span class="preload1"></span>
            <span class="preload2"></span>
            <ul id="nav">
                    <li class="top"><a href="#nogo53" id="arquivo" class="top_link"><span class="down">Arquivo</span></a>
                      <ul class="sub">
                        <!-- <li> <%= link_to ' Serviço de mensagens' , mensagems_path %></li> !-->
                        <li> <%= link_to ' Início' , root_path %></li>
                        <li><%= link_to 'Sair', logout_path,:confirm => "Tem certeza que deseja fazer logout?" %></li>
                      </ul>
                    </li>
                    <li class="top"><a href="#nogo27" id="executar" class="top_link"><span class="down">Executar</span></a>
                    <ul class="sub">
                      <% if (current_user.has_role?('admin'))  or (current_user.has_role?('planejamento'))%>
                       <%if !(@ficha.nil?)%>
                        <li><a  href="#nogo29" class="fly">Gerar Ficha</a>
                          <ul>
                              <li><%= link_to('Export to PDF', "#{@ficha.id}.pdf") %></li>
                              <li><a class="botao3d" href="javascript:window.print();">Imprimir</a></li>
                          </ul>
                         </li>
                       <%end%>
                      <%end%>
                        <li><a href="#nogo29" class="fly">Pontuação</a>
                        <ul>
                          <li><%= link_to 'Tempo Serviço', new_trabalhado_path%></li>
                          <li><%= link_to 'Títulos',new_titulo_professor_path %></li>
                          <li><%= link_to_remote('Pontuação', :url => { :action => "relato_prof", :controller => "professors"}) %></li>
                        </ul>
                      </li>
                        <%  if current_user.has_role?('direcao') or (current_user.has_role?('supervisao')) or (current_user.has_role?('admin'))  or (current_user.has_role?('planejamento'))%>
                          <li><a href="#nogo29" class="fly">Consultas</a>
                            <ul>
                              <%  if current_user.has_role?('direcao') or (current_user.has_role?('supervisao')) or (current_user.has_role?('admin')) or current_user.has_role?('planejamento') %>
                                <li><%= link_to_remote('Profº Individual', :url => { :controller => "consulta", :action => "consulta_ppu"}) %></li>
                                <li><%= link_to_remote('Unidade', :url => {  :controller => "consulta", :action => "consulta_pu"}) %></li>
                                <li><%= link_to_remote('Titulação', :url => {  :controller => "consulta", :action => "consulta_pt"}) %></li>
                                <li><%= link_to_remote('Geral', :url => { :controller => "consulta", :action => "consulta_geral"}) %></li>
                              <%end%>
                            </ul>
                          </li>
                        <%end%>
                      <li><%= link_to "Gerar Remoção", remocaos_path %></li>
                    </ul>
                  </li>
                  <li class="top"><a href="#nogo2" id="cadastrar" class="top_link"><span class="down">Cadastrar</span></a>
                  <ul class="sub">
                    <li><b>Primário</b></li>
                    <li><%= link_to "Professores", new_professor_path %></li>
                    <li><b>Secundários</b></li>
                    <%if current_user.has_role?('admin') or current_user.has_role?('supervisao') or current_user.has_role?('planejamento') then%>
                      <li><%= link_to "Títulos", new_titulacao_path %></li>
                      <li><%= link_to "Unidades", new_unidade_path %></li>
                      <li><%= link_to "Região", new_regiao_path %></li>
                    <%end%>
                  </ul>
                </li>
                
                <%  if current_user.has_role?('admin') or current_user.has_role?('supervisao') or current_user.has_role?('planejamento') then%>
                  <li class="top"><a href="#nogo22" id="config" class="top_link"><span class="down">Configuração</span></a>
                    <ul class="sub">
                      <li><b>Gerencial</b></li>
                      <li><%= link_to 'Verificar Log', logs_path %></li>
                      <%  if current_user.has_role?('admin') then%>
                        <li><%= link_to_remote('Usuários', :url => { :action => "gen_user", :controller => 'home'}) %></li>
                        <li><b>Anual</b></li>
                        <li><%= link_to('Novo Ano', iniciar_ano_path) %></li>
                        <li><%= link_to('Arrumar Titulos', arrumar_titulos_path) %></li>
                      <%end%>
                    </ul>
                  </li>
                <%end%>
                
                <li class="top"><a href="#nogo2" id="relatorios" class="top_link"><span class="down">Relatórios</span></a>
                <ul class="sub">
                  <li><b>Professores por</b></li>
                    <li><%= link_to "Nome", professors_path %></li>
                    <li><%= link_to "Função", relatorio_por_funcao_path %></li>
                    <li><a href="#nogo29" class="fly">Titulação</a>
                    <ul>
                      <li><%= link_to "Titulos invalidados", relatorio_titulos_anuais_invalidos_path %></li>
                      <li><%= link_to "Titulação", relatorio_por_titulacao_path %></li>
                      <li><%= link_to "Titulação (descrição)", relatorio_por_descricao_titulo_path %></li>
                    </ul>
                  </li>
          	      <li><b>Secundários</b></li>
                  <%if current_user.has_role?('admin') or current_user.has_role?('supervisao') or current_user.has_role?('planejamento') then%>
                    <li><%= link_to "Títulos", titulacaos_path %></li>
                    <li><%= link_to "Unidades", unidades_path %></li>
                    <li><%= link_to "Região", regiaos_path %></li>
                  <%end%>
                </ul>
              </li>
            </ul>
<!-- FIM MENU -->
</div>
</div>
    <div id="contents">

      <div id="header">
      </div>
      <div id="menu">
      </div>
      <div id="principal">
        <%= yield  %>
      </div>
    </div>
</body>
</html>



